@model WebAPI.ViewModels.CommonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>sponsorsxx</h2>

   
@foreach (var sponsor in Model.Sponsors)
{
    <br />
    @sponsor.SponsorName
    <br />
    @sponsor.NavigateURL
    <br />
    @sponsor.SponsorSupportLevel
    <br />
    @sponsor.SponsorSupportLevelOrder
    <br />
    @(sponsor.ImageURL)
    <br />
    <img src="@(sponsor.ImageURL)?format=gif&w=160&h=160&scale=both&mode=pad&bgcolor=white" alt="@sponsor.SponsorName"  />
    <hr />
}

