<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/Styles")
    
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    

    @RenderSection("scripts", required: false)

</head>
<body>

    <div id="wrapper">

        <header id="header">
            <div class="logoInfoBar">
                <div class="logoWrap">
                    <img src="~/Content/Images/silicon-valley-code-camp.png">
                </div>
                <div class="dateWrap">
                    SATURDAY & SUNDAY<br />
                    OCTOBER 6TH-7TH, 2013
                </div>
                <div class="venueWrap">
                    <span class="title">FOOTHILL COLLEGE,</span><br />
                    12345 EL MONTE RD.<br />
                    LOS ALTOS HILLS, CA
                </div>
            </div>
            <div class="menuUserBar">
                <div class="menuWrap">
                    <ul>
                        <li class="registration">
                            <div class="menuItemWrap">
                                <a href="#"><span class="imgWrap"></span><h2>REGISTRATION</h2></a>
                            </div>
                        </li>
                        <li class="program">
                            <div class="menuItemWrap">
                                <a href="#"><span class="imgWrap"></span><h2>PROGRAM</h2></a>
                            </div>
                            <ul>
                                <li>
                                    <a href="#"><span></span>Presenters</a>
                                </li>
                                <li>
                                    <a href="#"><span></span>Sessions</a>
                                </li>
                                <li>
                                    <a href="#"><span></span>Sponsors</a>
                                </li>
                            </ul>
                        </li>
                        <li class="giving">
                            <div class="menuItemWrap">
                                <a href="#"><span class="imgWrap"></span><h2>GIVING</h2></a>
                            <div>
                        </li>
                        <li class="news">
                            <div class="menuItemWrap">
                                <a href="#"><span class="imgWrap"></span><h2>NEWS</h2></a>
                            <div>
                        </li>
                        <li class="about">
                            <div class="menuItemWrap">
                                <a href="#"><span class="imgWrap"></span><h2>ABOUT</h2></a>
                            <div>
                        </li>
                    </ul>
                </div>
                <div class="userWrap">
                    <div class="loginForm">
                        LOGIN | REGISTER
                    </div>
                </div>
            </div>
        </header><!-- #header-->

        <section id="middle">

            <div id="container">
                <div id="contentWrap">
                    <div class="roundBorder section " id="content">
                        @RenderBody()
                    </div>
                </div><!-- #content-->
            </div><!-- #container-->

            <div class="sidebar" id="sideLeft">
                <aside>
                    <div class="roundBorder daysCountdown">
                        <h1><span class="daysNumber">@Model.DaysUntilCodeCampString</span> <br/>DAYS TO GO</h1>
                    </div>
                    <div class="sectionBreak"></div>
                    <div class="sectionTitle"><span class="luggageIcon"></span> <h2>JOB POSTS</h2></div>
                    <div class="roundBorder section  jobPosts">
                        <div class="listWrap">
                            <ul>
                                <li>
                                    <span class="date">12.22</span><br />
                                    <a href="#">Design & Content Manager</a><br />
                                    Stanford Law School - Standford, CA
                                </li>
                                <li>
                                    <span class="date">12.14</span><br />
                                    <a href="#">Software Engineer (iOS)</a><br />
                                    WhaleShark Media - Austin, TX
                                </li>
                                <li>
                                    <span class="date">12.12</span><br />
                                    <a href="#">PHP Developer</a><br />
                                    FortuneBuilders - San Francisco, CA
                                </li>
                            </ul>
                        </div>
                        <div class="buttonWrap">
                            <a href="#" class="button round magenta">
                            MORE JOBS
                            </a>
                        </div>
                    </div>
                    <div class="sectionBreak"></div>
                    <div class="sectionTitle"><span class="laptopIcon"></span> <h2>NEWS</h2></div>
                    <div class="roundBorder section  news">
                        <div class="listWrap">
                            <ul>
                                <li>
                                    <span class="date">12.20</span><br />
                                    <a href="#">Are Programmers Impossible to Manage?</a>
                                </li>
                                <li>
                                    <span class="date">12.11</span><br />
                                    <a href="#">The Meaning of Code</a>
                                </li>
                                <li>
                                    <span class="date">12.09</span><br />
                                    <a href="#">The Art of Dashboard Design</a><br />
                                </li>
                            </ul>
                        </div>
                        <div class="buttonWrap">
                            <a href="#" class="button round magenta">
                            MORE NEWS
                            </a>
                        </div>
                    </div>
                    <div class="sectionBreak"></div>
                    <div class="roundBorder sponsor">
                        <div class="wrap">
                            <a href="#" class="orcsweb"><img src="~/Content/Images/sponsors/orcsweb-small.png"></a>
                        </div>
                    </div>
                </aside>
            </div><!-- #sideLeft -->

            <div class="sidebar" id="sideRight">
                <aside>
                    <div class="socialMediaChannels">
                        <ul>
                            <li class="facebook">
                                <a href="#">Facebook</a>
                            </li>
                            <li class="twitter">
                                <a href="#">Twitter</a>
                            </li>
                            <li class="googlePlus">
                                <a href="#">Google+</a>
                            </li>
                            <li class="linkedIn">
                                <a href="#">LinkedIn</a>
                            </li>
                            <li class="rss">
                                <a href="#">RSS</a>
                            </li>
                            <li class="contact">
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sectionBreak"></div>
                    <div class="sectionTitle sponsors">OUR<br />SPONSORS</div>
                    <div class="roundBorder section  sponsors">
                        <div class="topButtonsWrap">
                            <br />
                            <div class="button becomeSponsor">
                                <a href="#">BECOME A<br />SPONSOR</a>
                            </div>
                            <br />
                            <a href="#" class="button round gray border">VIEW ALL</a>
                        </div>
                        <div class="sponsorsListWrap">
                            <dl class="accordion">

                                <dt><a href=""><span class="arrow"></span><span class="label">PLATINUM</span></a></dt>
                                <dd>
                                    <table>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Adobe</a></td>
                                            <td><a href="#" class="sponsor">AT&T</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Box</a></td>
                                            <td><a href="#" class="sponsor">Cacheonix Systems</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Cloud Foundry</a></td>
                                            <td><a href="#" class="sponsor">ComponentOne</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#" class="sponsor">Dice</a></td>
                                            <td><a href="#" class="sponsor">DiscountASP.NET</a></td>
                                        </tr>
                                        <tr>
                                            <td>Egnyte</td>
                                            <td>Embarcadero</td>
                                        </tr>
                                        <tr>
                                            <td>Esri</td>
                                            <td>Foothill College</td>
                                        </tr>
                                        <tr>
                                            <td>Google</td>
                                            <td>Hewlett-Packard</td>
                                        </tr>
                                        <tr>
                                            <td>Intuit</td>
                                            <td>JetBrains</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </dd>
                                <dt><a href=""><span class="arrow"></span><span class="label">GOLD</span></a></dt>
                                <dd></dd>
                                <dt><a href=""><span class="arrow"></span><span class="label">SILVER</span></a></dt>
                                <dd></dd>
                                <dt><a href=""><span class="arrow"></span><span class="label">BRONZE</span></a></dt>
                                <dd></dd>
                                <dt><a href=""><span class="arrow"></span><span class="label">COMMUNITY<BR />SPONSORS</span></a></dt>
                                <dd></dd>

                            </dl>
                        </div>
                        <div class="bottomButtonsWrap">
                            <br />
                            <div class="button becomeSponsor">
                                <a href="#">BECOME A<br />SPONSOR</a>
                            </div>
                            <br />
                        </div>
                    </div>
                </aside>
            </div><!-- #sideRight -->

        </section><!-- #middle-->

    </div><!-- #wrapper -->

    <footer id="footer">
        <div class="footerWrap">
            <ul>
                <li><a href="#">TERMS & CONDITIONS</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">SITE MAP</a></li>
            </ul>
        </div>
    </footer><!-- #footer -->
</body>

</html>
