@model List<CodeCampSV.SessionsResult>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Session Page</h2>

@foreach (var session in Model) {

    <br/>
    @session.Title
    <br/>
    @session.Description
    <br/>
    <img src="@(session.SpeakerPictureUrl)?format=gif&w=160&h=160&scale=both&mode=pad&bgcolor=white" alt="@session.PresenterName"  />
    <br/>
    <a href=" @session.SessionUrl"> @session.SessionUrl</a>
   
    <br/>
       
}





@* <script type="text/javascript">

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON("api/session/GetAll",
            function (data) {
                // On success, 'data' contains a list of products.
                $.each(data, function (key, val) {

                    //debugger;

                    // Format the text to display.
                    //var str = val.Name + ': $' + val.Price;
                    var str = val.PresenterName + ' : ' + val.Title;
                    
                    // Add a list item for the product.
                    $('<li/>', { text: str })
                    .appendTo($('#sessions'));
                });
            });
        });
      


    </script>


 <div id="sessions"></div>*@