@model WebAPI.ViewModels.CommonViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        var floatingElement,
            targetSelectBtn,
            timeoutVal;

        function getAllSessionTime() {
            console.log($('.sessionsList .sessionDetails').length);
            console.log($('tr.session').length);
        }


        getAllSessionTime();

        function monitorFloatingElement(el) {
            floatingElement = el;
        }

        function hideFloatingElement(el) {
            $(el).hide();
            if (timeoutVal) {
                clearTimeout(timeoutVal);
            }
        }

        $('body').click(function () {
            hideFloatingElement(floatingElement);
        });


        // Tags filter button and floating panel
        $("#tagFiltersButton").colorbox({
            inline:true,
            transition: 'fade',
            href:"#tagsFilterLightbox",
            className: 'tagsFilterLightboxColorBox',
            opacity: 0.5,
            onOpen: function () {
                $('#tagsFilterLightbox .closePanelButton').click(function () {
                    $.colorbox.close();
                });
            }
        });

        // Filter accordion
        $('.sessionsFilterWrap .header .arrow').click(function () {
            if ($(this).hasClass('active')) {
                $('.sessionsFilterWrap .filterContentWrap').slideUp();
            } else {
                $('.sessionsFilterWrap .filterContentWrap').slideDown();
            }
            $(this).toggleClass('active')
        });
        // End - Filter accordion

        // Tags checkbox list
        $('.tagsCheckboxWrap ul li, .sessionsFilterWrap .optionsWrap ul li').click(function () {
            $(this).toggleClass('selected')
        });

        // Session days filter checkbox
        $('#sessionDaysCheckboxList li').click(function () {

            $(this).parent().find('li').removeClass('selected');
            $(this).addClass('selected');

            if ($(this).hasClass('saturday')) {
                $('.timeFilterWrap .saturday').show();
                $('.timeFilterWrap .sunday').hide();

            } else if ($(this).hasClass('sunday')) {
                $('.timeFilterWrap .saturday').hide();
                $('.timeFilterWrap .sunday').show();
            } else {
                $('.timeFilterWrap .saturday').show();
                $('.timeFilterWrap .sunday').show();
            }
        });
        // End - Session days filter checkbox

        // Session details floating panel
        $('.detailsBtn').click(function (e) {
            var buttonOffset = $(this).offset(),
            sessionId = $(this).attr('sessionId'),
            speakers, speaker, i;

            console.log(sessionId);
            if (floatingElement) {
                hideFloatingElement(floatingElement);
            }
            monitorFloatingElement('#detailsFloatingPanel');
            
            // Copy text fields from dom to floating panel fields
            $('#detailsFloatingPanel .description').html($('#sessionDescription_' + sessionId).text());
            $('#detailsFloatingPanel h3.title').html($('#sessionTitle_' + sessionId).text());
            $('#detailsFloatingPanel .details').html($('#sessionDetails_' + sessionId).html());
            $('#detailsFloatingPanel .presenterName').text($('#presenterName_' + sessionId).text());
            $('#detailsFloatingPanel .speakerAvatar').html($('#speakerAvatar_' + sessionId).html());
            // Session URL
            $('#detailsFloatingPanel .footer .buttonWrap').html($('#sessionUrl_' + sessionId).html());
            console.log($('#speakerAvatar_' + sessionId));
            // Speakers
            speakers = $('#session_' + sessionId).find('.author');
            console.log(speakers);
            $('#detailsFloatingPanel .speakerList').html($('#speakerInfoList_' + sessionId).html());

            for (i = 0; i < speakers.length; i++) {
                speaker = speakers[i];
                console.log(speaker);
                console.dir(speaker);
                $('#authorLinkContainer_' + sessionId + '_' + $('#' + speaker.id).attr('speakerId')).html(speaker.outerHTML);
            }

            $('#detailsFloatingPanel').fadeIn('fast', 'linear').css({
                            'top': buttonOffset.top - ( $('#detailsFloatingPanel .contentWrap').height() + 200)
                        });

            console.log($('#detailsFloatingPanel .contentWrap').height());
            console.log($('#detailsFloatingPanel .contentWrap'));
            console.log(buttonOffset.top);



            // Stop event bubbling so body listener for hiding floating
            // panel won't be triggered
            e.stopPropagation();
        });
        // Prevents closing of the details panel when clicked
        $('#detailsFloatingPanel').click(function (e) {
            e.stopPropagation();
        });
        // Close button for details floating panel
        $('.closePanelButton').click(function (e) {
            if (floatingElement) {
                hideFloatingElement(floatingElement);
            }
        });
        // End - Session details floating panel

        // Session Select
        $('.interestSelectBtn .select').click(function (e) {
            // Show drop down
            if (e.target.className == 'arrow') {
                // Add to monitor the current floating element
                if (floatingElement) {
                    hideFloatingElement(floatingElement);
                }
                monitorFloatingElement('#selectOptionsWrap');

                targetSelectBtn = e.currentTarget.parentElement;

                $('#selectOptionsWrap').appendTo(targetSelectBtn);
                $('#selectOptionsWrap').fadeIn('fast', 'linear');

                // Stop event bubbling so body listener for hiding floating
                // panel won't be triggered
                e.stopPropagation();

                $('.interestSelectBtn .option').click(function (e) {
                    interestSelectHandler(targetSelectBtn, $(this));
                });
            } else {
                // Toggle through the options
            }
        });

        function interestSelectHandler(select, option) {

            var label = option.find('.label').text(),
                selectEl = $('#' + select.id),
                targetLabel = '#' + select.id + ' .select .label .text';

            $(targetLabel).text(label);

            $('#' + select.id).addClass(label);

            switch (label) {
                case 'Attending':
                    selectEl.removeClass('Interested');
                    break;
                case 'Interested':
                    selectEl.removeClass('Attending');
                    break;
                default:
                    selectEl.removeClass('Interested');
                    selectEl.removeClass('Attending');
            }
        }

        // End - Session Select

        // Sponsor floating panel
        $('.sponsorsListWrap .sponsor').hover(function (e) {
            if (timeoutVal) {
                clearTimeout(timeoutVal);
            }
            switch (e.type) {
                case 'mouseenter':
                    // Add to monitor the current floating element
                    if (floatingElement) {
                        hideFloatingElement(floatingElement);
                    }
                    monitorFloatingElement('.sponsorPanel');

                    $('.sponsorPanel').fadeIn('fast', 'linear').css({ 'top': e.pageY - 322, 'left': e.pageX - 520 });

                    break;
                case 'mouseleave':

                    monitorFloatingElement('.sponsorPanel');

                    timeoutVal = setTimeout(function () {
                        hideFloatingElement(floatingElement);
                        timeoutVal = null;
                    }, 2000);

                    break;
            }

        });

        $('.sponsorPanel').hover(function () {
            if (timeoutVal) {
                clearTimeout(timeoutVal);
            }
        }, function () {
            timeoutVal = setTimeout(function () {
                hideFloatingElement(floatingElement);
                timeoutVal = null;
            }, 1300);
        });
        // End - Speaker panel


    });
</script>


<h1 class="title">Sessions</h1>

<div class="sessionsWrap">

    <div id="selectOptionsWrap" class="selectOptionsWrap">
        <div class="option">
            <div class="icon"></div>
            <div class="label">Not Interested</div>
        </div>
        <div class="option interested">
            <div class="icon"></div>
            <div class="label">Interested</div>
        </div>
        <div class="option attending">
            <div class="icon"></div>
            <div class="label">Attending</div>
        </div>
    </div>

    <div class="floatingPanel detailsFloatingPanel" id="detailsFloatingPanel">
        <div class="closePanelButton">
            <div class="icon"></div>
        </div>
        <div class="contentWrap">
            <div class="content">
                <div class="sessionWrap">
                    <div class="textWrap">
                        <h3 class="title"></h3>
                        <div class="details">
                            <span class="timeIcon"></span>Saturday, 5 PM <span class="mapLocationIcon"></span>Room 302, Lot 1 &nbsp;<a href="#">Map</a>
                        </div>
                        <p class="description"></p>
                    </div>
                    <div class="footer">
                        <div class="buttonWrap">
                            <a href="#" class="button round blue">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="speakerWrap">
                    <div class="title">Speaker</div>
                    <div class="speakerList">
                    <div class="avatarWrap">
                        <img class="speakerAvatar" src="~/Content/Images/speaker-avatar-sample.png" />
                    </div>
                    <div class="speakerInfo">

                    </div>
                    </div>
                    <!--
                    <div class="sessionType">
                        <span class="label">Type</span>
                        <br />
                        Conference (<a href="#">What is it?</a>)
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pointer"></div>
        </div>
    </div>

    <div class="floatingPanel tagsFilterLightbox" id="tagsFilterLightbox">
        <div class="closePanelButton">
            <div class="icon"></div>
        </div>
        <div class="contentWrap roundBorder">
            <div class="header">
                <h3>PICK TAGS</h3>
            </div>
            <div class="tagsCheckboxWrap">
                <ul>
                    <li class="selected"><span class="checkbox"></span><span class="label">.NET Framework</span></li>
                    <li><span class="checkbox"></span><span class="label">ActionScript</span></li>
                    <li><span class="checkbox"></span><span class="label">Ada</span></li>
                    <li><span class="checkbox"></span><span class="label">Ajax</span></li>
                    <li><span class="checkbox"></span><span class="label">Algorithm</span></li>
                    <li><span class="checkbox"></span><span class="label">Android</span></li>
                    <li><span class="checkbox"></span><span class="label">AppleScript</span></li>
                    <li><span class="checkbox"></span><span class="label">ASCET</span></li>
                    <li><span class="checkbox"></span><span class="label">ASP</span></li>
                    <li class="selected"><span class="checkbox"></span><span class="label">ASP.NET</span></li>
                    <li><span class="checkbox"></span><span class="label">ASP.BASH</span></li>
                    <li><span class="checkbox"></span><span class="label">BPEL</span></li>
                    <li><span class="checkbox"></span><span class="label">C</span></li>
                    <li><span class="checkbox"></span><span class="label">C#</span></li>
                    <li><span class="checkbox"></span><span class="label">C++</span></li>
                    <li><span class="checkbox"></span><span class="label">Cg</span></li>
                    <li><span class="checkbox"></span><span class="label">Clojure</span></li>
                    <li><span class="checkbox"></span><span class="label">Cobol</span></li>
                    <li><span class="checkbox"></span><span class="label">Cocoa Touch</span></li>
                    <li><span class="checkbox"></span><span class="label">Code Igniter</span></li>
                    <li><span class="checkbox"></span><span class="label">ColdFusion</span></li>
                    <li><span class="checkbox"></span><span class="label">Common Lisp</span></li>
                    <li><span class="checkbox"></span><span class="label">CSS</span></li>
                    <li><span class="checkbox"></span><span class="label">Curl</span></li>
                    <li><span class="checkbox"></span><span class="label">Database</span></li>
                    <li><span class="checkbox"></span><span class="label">Debugging</span></li>
                    <li><span class="checkbox"></span><span class="label">Delphi</span></li>
                    <li><span class="checkbox"></span><span class="label">Django</span></li>
                    <li><span class="checkbox"></span><span class="label">Emacs Lisp</span></li>
                    <li><span class="checkbox"></span><span class="label">Emacs Erlang</span></li>
                    <li><span class="checkbox"></span><span class="label">F#</span></li>
                    <li><span class="checkbox"></span><span class="label">Facebook</span></li>
                    <li><span class="checkbox"></span><span class="label">Flash</span></li>
                    <li><span class="checkbox"></span><span class="label">Flex</span></li>
                    <li><span class="checkbox"></span><span class="label">Fortran</span></li>
                    <li><span class="checkbox"></span><span class="label">Genexus</span></li>
                    <li><span class="checkbox"></span><span class="label">GridView</span></li>
                    <li><span class="checkbox"></span><span class="label">Groovy</span></li>
                    <li><span class="checkbox"></span><span class="label">Haskell</span></li>
                    <li><span class="checkbox"></span><span class="label">Haxe</span></li>
                    <li><span class="checkbox"></span><span class="label">HLSL</span></li>
                    <li><span class="checkbox"></span><span class="label">HTML 5</span></li>
                    <li><span class="checkbox"></span><span class="label">iPhone</span></li>
                    <li><span class="checkbox"></span><span class="label">ITT IDL</span></li>
                    <li><span class="checkbox"></span><span class="label">Java</span></li>
                    <li><span class="checkbox"></span><span class="label">Javascript</span></li>
                    <li><span class="checkbox"></span><span class="label">jQuery</span></li>
                    <li><span class="checkbox"></span><span class="label">LabVIEW</span></li>
                    <li><span class="checkbox"></span><span class="label">Lasso</span></li>
                    <li><span class="checkbox"></span><span class="label">LaTeX</span></li>
                    <li><span class="checkbox"></span><span class="label">Linq</span></li>
                    <li><span class="checkbox"></span><span class="label">Linux</span></li>
                    <li><span class="checkbox"></span><span class="label">Lua</span></li>
                    <li><span class="checkbox"></span><span class="label">MATLAB</span></li>
                    <li><span class="checkbox"></span><span class="label">Multi-threading</span></li>
                </ul>
            </div>
            <div class="clearBoth"></div>
            <div class="buttonWrap">
                <div class="finishButton button round gray border">
                    <div class="icon"></div>
                    <div class="label">FINISHED</div>
                </div>
            </div>
        </div>
    </div>

    <div class="floatingPanel sponsorPanel">
        <div class="contentWrap">
            <div class="content">
                <div class="sponsorLogoWrap">
                    <img src="" alt="" />
                </div>
                <div class="sponsorInfoWrap">
                    <p><a href="#">Wakanda</a> is an open-source platform for developing business web and mobile applications in Javascript.</p>
                    <div class="buttonWrap">
                        <a href="#" class="button round blue">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pointer"></div>
        </div>
    </div>

    <div class="sessionsFilterWrap roundBorder">
        <div class="header"><div class="arrow active"><span class="icon"></span></div><div class="label">FILTERS</div></div>
        <div class="filterContentWrap active">
            <div class="filterOptionsWrap">
                <div class="daysFilterWrap">
                    <div class="labelWrap">
                        <span class="icon"></span><span class="label">Day : </span>
                    </div>
                    <div class="optionsWrap">
                        <ul id="sessionDaysCheckboxList">
                            <li class="showAll selected"><span class="checkbox"></span><span class="label">Show all</span></li>
                            <li class="saturday"><span class="checkbox"></span><span class="label">Saturday</span></li>
                            <li class="sunday"><span class="checkbox"></span><span class="label">Sunday</span></li>
                        </ul>
                    </div>
                </div>
                <div class="timeFilterWrap">
                    <div class="labelWrap">
                        <span class="icon"></span><span class="label">Time : </span>
                    </div>
                    <div class="optionsWrap">
                        <div class="timeOption saturday">
                            <div class="dayLabel"><span class="icon"></span><span class="label">Saturday: </span></div>
                            <div class="timesWrap">
                                <ul>
                                    <li><span class="checkbox"></span><span class="label">9:45 AM</span></li>
                                    <li><span class="checkbox"></span><span class="label">11:15 AM</span></li>
                                    <li><span class="checkbox"></span><span class="label">1:45 PM</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="timeOption sunday">
                            <div class="dayLabel"><span class="icon"></span><span class="label">Sunday: </span></div>
                            <div class="timesWrap">
                                <ul>
                                    <li><span class="checkbox"></span><span class="label">9:45 AM</span></li>
                                    <li><span class="checkbox"></span><span class="label">10:45 AM</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="categoryFilterWrap">
                    <div class="labelWrap">
                        <span class="icon"></span><span class="label">Category : </span>
                    </div>
                    <div class="optionsWrap">
                        <ul>
                            <li class="selected"><span class="checkbox"></span><span class="label">Technology</span></li>
                            <li><span class="checkbox"></span><span class="label">Business</span></li>
                            <li><span class="checkbox"></span><span class="label">Career</span></li>
                            <li><span class="checkbox"></span><span class="label">Kids</span></li>
                            <li><span class="checkbox"></span><span class="label">Software Management</span></li>
                        </ul>
                    </div>
                </div>
                -->
                <div class="tagsFilterWrap">
                    <div class="labelWrap">
                        <span class="icon"></span><span class="label">Tags : </span>
                    </div>
                    <div class="optionsWrap">
                        <ul>
                            <li class="selected"><span class="checkbox"></span><span class="label">C++</span></li>
                            <li class="selected"><span class="checkbox"></span><span class="label">.NET</span></li>
                            <li class="selected"><span class="checkbox"></span><span class="label">Database</span></li>
                            <li><span class="checkbox"></span><span class="label">Linq2SQL</span></li>
                        </ul>
                    </div>
                    <div class="buttonRightWrap">
                        <div class="tagFiltersButton" id="tagFiltersButton"><div class="label"><span>Tag Filters</span></div><div class="arrow"><span class="icon"></span></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sessionGroupSearchWrap ">
        <div class="groupWrap">
            <div class="label">Group sessions by</div>
            <div class="groupSessionsSelect">
                <div class="roundSelect">
                    <div class="select"><div class="label"><span class="text">Time</span></div><div class="arrow"></div></div>
                </div>
            </div>
        </div>
        <div class="searchWrap">
            <div class="label">Search: </div>
            <div class="searchInputWrap">
                <div class="searchTypeWrap">
                    <div class="select"><div class="label"><span class="text">Keyword</span></div><div class="arrow"></div></div>
                </div>
                <div class="inputWrap">
                    <input type="text" value="Type your search..." />
                </div>
                <div class="searchButtonWrap">
                    <input type="button" class="searchButton" value="" />
                </div>
            </div>
        </div>
    </div>

    <div class="sessionsList">
        <h4>Saturday, 11:15 AM</h4>
        <table>

            @foreach (var session in Model.Sessions)
            {
    
                <tr id="session_@session.Id" class="session">
                    <td class="title" width="330">

                        
                        @*BELOW, PresenterURL goes to link inside code camp*@

                        <span id="sessionTitle_@session.Id">@session.TitleEllipsized</span>
                        <br />
                        <i>by</i>
                        @{ var multipleSpeakerSeparator = " "; }
                        @foreach (var speaker in session.SpeakersList)
                            {
                              @multipleSpeakerSeparator <a href="@(speaker.SpeakerLocalUrl)" class="author" id="speaker_@(speaker.AttendeeId)" speakerId="@speaker.AttendeeId"> @speaker.UserFirstName @speaker.UserLastName </a>multipleSpeakerSeparator = ",";
                            }
                        <div class="sessionDetails" id="sessionDetails_@session.Id">
                            <span class="timeIcon"></span>@session.SessionTime <span class="mapLocationIcon"></span>Room @session.RoomNumber <!-- <a href="#">Map</a> -->
                        </div>
                        <div class="sessionDescription" id="sessionDescription_@session.Id">@session.Description</div>
                        <div class="sessionUrl" id="sessionUrl_@session.Id"><a href="@(session.SessionUrl)" title="@session.TitleEllipsized" class="button round blue">READ MORE</a></div>
                        <div class="speakerInfo" id="speakerInfoList_@session.Id">

                                @foreach (var speaker in session.SpeakersList)
                                {

                                    <div class="speakerInfoItem">
                                        <div class="avatarWrap">
                                            <img class="speakerAvatar" src="@(speaker.ImageUrl)?width=55" />
                                        </div>
                                        <div class="speakerInfo">
                                            <div id="authorLinkContainer_@(session.Id)_@speaker.AttendeeId"></div>
                                            <p>
                                                @speaker.UserBio
                                            </p>
                                        </div>
                                    </div>
                                }

                        </div>
                    </td>
                    <td class="action">
                        <div class="interestSelectBtn" id="interestSelectBtn_@session.Id">
                            <div class="select"><div class="label"><span class="icon"></span><span class="text">Not Interested</span></div><div class="arrow"></div></div>
                        </div>
                    </td>
                    <td class="details">
                        <div class="detailsBtn" id="detailsBtn_@session.Id" sessionId="@session.Id">
                            <div class="icon"></div>
                            <div class="label">Details</div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>


</div>


@*
@foreach (var session in Model.Sessions) {
    <br/>
    @session.Title
    <br/><br/><br/>
    @session.Description
    <br/><br/><br/>
    <img src="@(session.SpeakerPictureUrl)?format=gif&w=160&h=160&scale=both&mode=pad&bgcolor=white" alt="@session.PresenterName"  />
    <br/><br/><br/>
    <a href=" @session.SessionUrl"> @session.SessionUrl</a>
    <br/> 
}
@foreach (var sponsor in Model.Sponsors) {
    <br/>
    @sponsor.SponsorName
    <br/>
    @sponsor.NavigateURL
      <br/>
    @sponsor.SponsorSupportLevel
     <br/>
    @sponsor.SponsorSupportLevelOrder
    <br/>
    @(sponsor.ImageURL)
    <br/>
    <img src="@(sponsor.ImageURL)?format=gif&w=160&h=160&scale=both&mode=pad&bgcolor=white" alt="@sponsor.SponsorName"  />
    <hr/>
}


*@





@* <script type="text/javascript">

//        $(document).ready(function () {
//            // Send an AJAX request
//            $.getJSON("api/session/GetAll",
//            function (data) {
//                // On success, 'data' contains a list of products.
//                $.each(data, function (key, val) {
//
//                    //debugger;
//
//                    // Format the text to display.
//                    //var str = val.Name + ': $' + val.Price;
//                    var str = val.PresenterName + ' : ' + val.Title;
//
//                    // Add a list item for the product.
//                    $('<li/>', { text: str })
//                    .appendTo($('#sessions'));
//                });
//            });
//        });
      


    </script>


 <div id="sessions"></div>*@