@model WebAPI.ViewModels.SessionViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
$(document).ready(function () {
    var floatingElement,
        targetSelectBtn;

    function monitorFloatingElement (el) {
        floatingElement = el;
    }

    function hideFloatingElement (el) {
        $(el).hide();
    }

    $('body').click(function () {
        console.log('body click');
        hideFloatingElement(floatingElement);
    });

    $('.interestSelectBtn .select').click(function (e) {
        console.log(arguments)
        // Add to monitor the current floating element
        if (floatingElement) {
            hideFloatingElement(floatingElement);
        }
        monitorFloatingElement('#selectOptionsWrap');

        targetSelectBtn = e.currentTarget.parentElement;

        $('#selectOptionsWrap').appendTo(targetSelectBtn);
        $('#selectOptionsWrap').fadeIn('fast', 'linear');

        // Stop event bubbling so body listener for hiding floating
        // panel won't be triggered
        e.stopPropagation();

        $('.interestSelectBtn .option').click(function (e) {
            interestSelectHandler(targetSelectBtn, e.currentTarget);
        });
    });

    function interestSelectHandler (select, option) {
        console.log(arguments)
        console.dir(option)
        var label = option.textContent,
            selectEl = $('#'+ select.id);
        console.log(label)
        var targetLabel = '#'+ select.id + ' .select .label .text';
        console.log(targetLabel)
        console.log($(targetLabel))
        $(targetLabel).text(label);
        $('#'+ select.id).addClass(label);
        switch (label) {
            case 'Attending':
                selectEl.removeClass('Interested');
            break;
            case 'Interested':
                selectEl.removeClass('Attending');
            break;
            default:
                selectEl.removeClass('Interested');
                selectEl.removeClass('Attending');
        }
    }

});
</script>


<h1 class="title">Sessions</h1>

<div class="sessionsWrap">

    <div id="selectOptionsWrap" class="selectOptionsWrap">
        <div class="option"><div class="icon"></div><div class="label">Not Interested</div></div>
        <div class="option interested"><div class="icon"></div><div class="label">Interested</div></div>
        <div class="option attending"><div class="icon"></div><div class="label">Attending</div></div>
    </div>

    <div class="sessionsList">
        <h4>Saturday, 9:45 AM</h4>
        <table>
            <tr>
                <td class="title">What's New in .NET 4.5 <i>by</i> <a href="#" class="author">Andrew Cole</a> </td>
                <td class="action">
                    <div class="interestSelectBtn" id="interestSelectBtn1">
                        <div class="select"><div class="label"><span class="icon"></span><span class="text">Not Interested</span></div><div class="arrow"></div></div>
                    </div>
                </td>
                <td class="details"><div class="detailsBtn"><div class="icon"></div><div class="label">Details</div></div></td>
            </tr>
            <tr>
                <td class="title">The art of unit testing in .NET <i>by</i> <a href="#" class="author">Thomas Barton</a> </td>
                <td class="action">
                    <div class="interestSelectBtn" id="interestSelectBtn2">
                        <div class="select"><div class="label"><span class="icon"></span><span class="text">Not Interested</span></div><div class="arrow"></div></div>
                    </div>
                </td>
                <td class="details"><div class="detailsBtn"><div class="icon"></div><div class="label">Details</div></div></td>
            </tr>
            <tr>
                <td class="title">Dependency Injection in .Net <i>by</i> <a href="#" class="author">Eric Le Saux</a> </td>
                <td class="action">
                    <div class="interestSelectBtn" id="interestSelectBtn3">
                        <div class="select"><div class="label"><span class="icon"></span><span class="text">Not Interested</span></div><div class="arrow"></div></div>
                    </div>
                </td>
                <td class="details"><div class="detailsBtn"><div class="icon"></div><div class="label">Details</div></div></td>
            </tr>
            <tr>
                <td class="title">Advanced .NET Training <i>by</i> <a href="#" class="author">Andrew Cole</a> </td>
                <td class="action">
                    <div class="interestSelectBtn" id="interestSelectBtn4">
                        <div class="select"><div class="label"><span class="icon"></span><span class="text">Not Interested</span></div><div class="arrow"></div></div>
                    </div>
                </td>
                <td class="details"><div class="detailsBtn"><div class="icon"></div><div class="label">Details</div></div></td>
            </tr>
        </table>
    </div>

    <div class="sessionsList">
            <h4>Saturday, 11:15 AM</h4>
            <table>
                <tr>
                    <td class="title">.NET Best Practices <i>by</i> <a href="#" class="author">John Cantona</a> </td>
                    <td class="action">
                        <div class="interestSelectBtn" id="interestSelectBtn5">
                            <div class="select"><div class="label"><span class="icon"></span><span class="text">Not Interested</span></div><div class="arrow"></div></div>
                        </div>
                    </td>
                    <td class="details"><div class="detailsBtn"><div class="icon"></div><div class="label">Details</div></div></td>
                </tr>
                <tr>
                    <td class="title">Integration masterclass <i>by</i> <a href="#" class="author">Frank Seaman</a> </td>
                    <td class="action">
                        <div class="interestSelectBtn" id="interestSelectBtn6">
                            <div class="select"><div class="label"><span class="icon"></span><span class="text">Not Interested</span></div><div class="arrow"></div></div>
                        </div>
                    </td>
                    <td class="details"><div class="detailsBtn"><div class="icon"></div><div class="label">Details</div></div></td>
                </tr>
                <tr>
                    <td class="title">Visual Studio 12<i>by</i> <a href="#" class="author">Peter Wenger</a> </td>
                    <td class="action">
                        <div class="interestSelectBtn" id="interestSelectBtn7">
                            <div class="select"><div class="label"><span class="icon"></span><span class="text">Not Interested</span></div><div class="arrow"></div></div>
                        </div>
                    </td>
                    <td class="details"><div class="detailsBtn"><div class="icon"></div><div class="label">Details</div></div></td>
                </tr>
            </table>
        </div>

</div>


@*
@foreach (var session in Model.Sessions) {
    <br/>
    @session.Title
    <br/><br/><br/>
    @session.Description
    <br/><br/><br/>
    <img src="@(session.SpeakerPictureUrl)?format=gif&w=160&h=160&scale=both&mode=pad&bgcolor=white" alt="@session.PresenterName"  />
    <br/><br/><br/>
    <a href=" @session.SessionUrl"> @session.SessionUrl</a>
    <br/> 
}

@foreach (var sponsor in Model.Sponsors) {
    <br/>
    @sponsor.SponsorName
    <br/>
    @sponsor.NavigateURL
      <br/>
    @sponsor.SponsorSupportLevel
     <br/>
    @sponsor.SponsorSupportLevelOrder
    <br/>
    @(sponsor.ImageURL)
    <br/>
    <img src="@(sponsor.ImageURL)?format=gif&w=160&h=160&scale=both&mode=pad&bgcolor=white" alt="@sponsor.SponsorName"  />
    <hr/>
}

*@



@* <script type="text/javascript">

//        $(document).ready(function () {
//            // Send an AJAX request
//            $.getJSON("api/session/GetAll",
//            function (data) {
//                // On success, 'data' contains a list of products.
//                $.each(data, function (key, val) {
//
//                    //debugger;
//
//                    // Format the text to display.
//                    //var str = val.Name + ': $' + val.Price;
//                    var str = val.PresenterName + ' : ' + val.Title;
//
//                    // Add a list item for the product.
//                    $('<li/>', { text: str })
//                    .appendTo($('#sessions'));
//                });
//            });
//        });
      


    </script>


 <div id="sessions"></div>*@